In [2]:
import numpy as np
import pandas as pds
import matplotlib.pyplot as plt

In [3]:
dataFile = pds.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv")
dataFile

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [7]:
Q11 = dataFile.groupby("Item")[["Y2014","Y2017"]]
Q11.sum().loc["Animal fats"]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [9]:
Q12 =dataFile["Y2015"].describe()
Q12

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [12]:
Q13 = dataFile["Y2016"]
nulls = Q13.isnull().sum()
nulls

1535

In [14]:
percentage = nulls*100/len(Q13)
percentage

2.518747025909456

In [19]:
Q15 = dataFile.groupby("Element")[["Y2014","Y2015","Y2016","Y2017","Y2018"]]
ans = Q15.sum().loc["Import Quantity"]
ans

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [21]:
Q16 = dataFile.groupby("Element")["Y2014"]
Q16.sum().loc["Production"]

1931287.7500000005

In [26]:
Q17 = dataFile[["Element","Y2018"]]
ans = Q17.groupby("Element")["Y2018"]
ans.sum().sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [28]:
Q18 = ans.sum().sort_values(ascending=True)
Q18

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [50]:
Q19 = dataFile[["Element","Area","Y2018"]]
#Q19= dataFile.groupby([])["Y2018"]
#Q19.loc("Import Quantity")
ans = Q19.groupby(["Area"])[["Element","Y2018"]]
ans.sum()

                                  Y2018
Area
Algeria                       341729.98
Angola                        235206.68
Benin                         124960.70
Botswana                       23129.08
Burkina Faso                  112970.72
Cabo Verde                     14622.60
Cameroon                      233022.93
Central African Republic       30101.57
Chad                           72282.24
Comoros                           59.84
Congo                          42005.53
C�te d'Ivoire                 227018.00
Djibouti                       23718.96
Egypt                         852652.92
Eswatini                       55045.07
Ethiopia                      450788.86
Ethiopia PDR                       0.00
Gabon                          28339.38
Gambia                         23513.80
Ghana                         358915.64
Guinea                        103262.08
Guinea-Bissau                  18997.92
Kenya                         270916.80
Lesotho                        19109.23
Liberia                        29629.83
Madagascar                    134576.44
Malawi                        187366.09
Mali                          159026.42
Mauritania                    157479.95
Mauritius                      47150.91
Morocco                       399271.27
Mozambique                    164934.05
Namibia                        29350.04
Niger                         133982.86
Nigeria                      1499774.24
Rwanda                         74839.08
Sao Tome and Principe          12806.49
Senegal                        95493.82
Seychelles                       442.34
Sierra Leone                   55981.73
South Africa                  509787.97
Sudan                         268054.39
Sudan (former)                     0.00
Togo                           54872.00
Tunisia                       127343.17
Uganda                        222147.25
United Republic of Tanzania   349763.41
Zambia                        101604.27
Zimbabwe                       76581.41

In [38]:
dataFile

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [54]:
Q20 = dataFile["Area"].unique()
len(Q20)

49

In [53]:
Q20

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "C�te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [56]:
Q14 = dataFile.groupby("Element Code")[["Y2014","Y2015","Y2016","Y2017","Y2018"]]

In [57]:
Q14.corr().max()

Y2014    1.0
Y2015    1.0
Y2016    1.0
Y2017    1.0
Y2018    1.0
dtype: float64